@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: url('../public/bg-gradient.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {

  width: 2px;
}

::-webkit-scrollbar-track {
 
  background-color: #888888;
}

::-webkit-scrollbar-thumb {
 background-color: #763434;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #888888 !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #763434 !important;
}